$prefix: 'ui-' !default;

$variants: (
    --primary:      #53BE7E,
    --secondary:    #EAEAEA,
    --dark:         #333333,
    --gray:         #B0B0B0,
    --light:        #FFFFFF,
    --alert:        #A93537,
    --success:      #53BE7E,
    --info:         #CEE5F0,
    --warn:         #FCCF04,
    --darkgreen:    #245441,
    --mediumgreen:  #96B4A6,
    --lightgreen:   #D8E7E1,
    --darkblue:     #3484AB,
    --blue:         #90CAF9,
    --lightblue:    #CEE5F0,
) !default;

$theme: (
    --background-primary:   #FFFFFF,
    --background-secondary: #F6F6F8,
    --background-tertiary:  #EAEAEA,
    --opacity-primary:      #FFFFFF99,
    --border:               #D1CFD1,
    --disabled:             #EAEAEA,
    --highlight:            #EBF3F0,
    --hover:                #EBF3F0,
    --modal:                #000000CC,
    --scrollbar:            #E0E0E0,
    --selected:             #EBF3F0,
    --shadow:               #00000044,
    --text-primary-invert:  #FFFFFF,
    --text-primary:         #333333,
    --text-secondary:       #979797,
    --text-tertiary:        #828494,
    --text-disabled:        #B0B0B0,
    --border-radius-tiny:     0.3rem,
    --border-radius-small:    0.5rem,
    --border-radius-medium:   1.5rem,
    --border-radius-large:    2.3rem,
    --border-shadow:          0 0 1rem var(--shadow),
    --border-width:           0.1rem,
    --border-default:         var(--border-width) solid var(--border),
) !default;

$themeDark: (
    --background-secondary: #282C34,
    --background-primary:   #21252B,
    --border:               #3B4048,
    --disabled:             #252930,
    --gray:                 #3B4048,
    --hover:                #212E3A,
    --modal:                #00000066,
    --text-primary:         #999999,
    --text-disabled:        #606266
) !default;
